body {
    background: linear-gradient(to right, #c9deff, #d2ecf8);
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #67b0ff;
    color: white;
}

.navbar .navbar-brand, .navbar .nav-link {
    color: white;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.card {
    margin-top: 20px;
}

#predictionResult {
    font-size: 1.5rem;
    font-weight: bold;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
}
